
* {
    font-family: 'Verdana', Courier, 'Andale Mono', monospace;
}

title, link, description, build-info, language, issue{
    display:none;
}

item{
    border : 2px solid black;
    display: block;
    width: 800px;
    margin: 10px 10px 25px 10px;
    page-break-inside: avoid;
    padding-top: 15px;
}

item title{
    display:block;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 5px 10px 5px 10px;
}

item customfield,item timeestimate, item created, item updated, item resolved, item assignee, item reporter,item description, item fixVersion, item timespent, item timeestimate, item component, item parent, item comment, item link, item project, item key, item status, item statusCategory, item resolution, item created, item updated, item due, item votes, item watches, item attachements, item subtasks{
    display:none;
}

item summary{
    display:block;
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid black;
}

item type, item priority {
    font-size:2em;
    color:red;
    display:block;
    float:left;
    width:396px;
    text-align:center;
    padding:none;
    margin:none;
}

item label{
    display:inline-block;
    width:100%;
    border-top: 1px solid black;
}

#customfield_10105{
    display:inline-block;
    width:100%;
    border-top: 1px solid black;
    color:navy;
}
#customfield_10108{
    font-size:1.5em;
    display:inline-block;
    width:100%;
    border-top: 1px solid black;
    color:navy;
}


br{
    display:block;
    clear:both;
}